.card {
    border: 10px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border: 2px solid white;
    // background: rgba(0,0,0,.20);
    // max-width: 1600px;
}
